
.footer{
	background-color: #8BCAE8;
	height: auto;
	width: auto;
	font-size: 10px;
	font-style: italic;
	border-radius: 15px;
	line-height: 1em;
}
#item{
	text-align: center;
	font-style: normal;

}

iframe{
	border:0;
	height: auto;
	width: auto;
	
}

.card-panel{
	height: 70%;
}
.header{
	width: 100%;
	height: auto;	
}
/*=============================================
SLIDESHOW
=============================================*/

#slide{
	position:relative;
	margin:auto;
	width:100%;
	overflow: hidden;
	background:white;
}

#slide ul{
	position:relative;
	left:0%;
	margin:auto;
	height:auto;
	width:400%;
	clear:both;
	display: table;
}

#slide ul li{
	position: relative;
	float:left;
	width:25%;
}	

#slide ul li img{
	width:100%;
}

#slide #paginacion{
	position: absolute;
	width:100%;
	margin:auto;
	text-align: center;
	bottom:10px;
	left:0;
	z-index:1;
}

#slide #paginacion li{
	display:inline-block;
	margin:0px 5px;
	cursor:pointer;
	opacity:.5;
	color:white;
	text-shadow:0px 0px 5px #333;
}	

#slide #paginacion li:first-child{
	opacity:1;
}

#slide .flechas{
	position:absolute;
	font-size:2em;
	color:white;
	cursor:pointer;
	z-index:2;
}

#slide #retroceder{
	top:45%;
	left:2%;
}

#slide #avanzar{
	top:45%;
	right:2%;
}

#slide ul li .textoSlide{
	position:absolute;
	width:100%;
	bottom:40px;
	left:0;
	text-align:center;
	z-index:1;
	color:white;
}

#slide ul li .textoSlide h1{
	background: rgba(0,0,0,.5);
	padding:5px 0;
}

#slide ul li .textoSlide h3{
	background: rgba(0,0,0,.5);
	padding-bottom:10px;
}